{% extends "layout.twig" %}

{% block body %}
    <h1 class="animated infinite bounce">Welcome to KA.FM</h1>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
